.content-pic{
    background-size: contain;
    height: 450px;
    background-repeat: no-repeat;

}
.blog-content{
  background-size: contain;
  height: auto;

}
.responsive {
  width: 100%;
  height: auto;
}
.blank {
  position: relative;
  font-weight: 300;
}

.card-header{
  background-color: #00A79D;
}

.contain {
  padding-top: 20px;
}

.container-enroll{
  padding-top: 2px;
  padding-bottom: 20px;
  text-align: center;
}