
<div class="container">
<div class="course">
  
  <div class="row">
    <h1 style="font-weight:200;" class="title">{{course.title}}</h1>
  </div>


  <div class="row" style="padding-top: 10px;">
    <div class="col-md-5">

      <div class="row">
          <!--<div class="col-md-4" style="margin-right:0px;"><p style="font-size:14px;font-weight:500;"> {{ course.date | date }}</p></div>-->
          <div class="col-md-3"></div>
      </div>
      <div class="row">

      <div class="row blog-content">
        <p [innerHTML]="course.description"></p>
      </div>
    </div>
    </div>
    <div class="col-md-1"></div>

    <div class="col-md-6">
      <div class="container-2">
            <div class="row content-pic">
              <div class="course-image" ><img [src] = "course.image" /></div>
            </div>
      </div>

          <!-- <div class="meta-info">
            {{ article.date | date }}
          </div> -->



    </div>
  </div>
</div>


<div class="row">

  <div class="col-md-3">
    <div class="card card-outline-primary">
        <div class="card-header">
            <h4 class="m-b-0 text-white">Duration</h4></div>
        <div class="card-body">
            <p class="card-text">{{course.duration}}</p>

        </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card card-outline-primary">
        <div class="card-header">
            <h4 class="m-b-0 text-white">Days</h4></div>
        <div class="card-body">
            <p class="card-text"> {{course.days}} </p>

        </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card card-outline-primary">
        <div class="card-header">
            <h4 class="m-b-0 text-white">Learn</h4></div>
        <div class="card-body">
            <p class="card-text">With supporting </p>

        </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card card-outline-primary">
        <div class="card-header">
            <h4 class="m-b-0 text-white">Price</h4></div>
        <div class="card-body">
            <p class="card-text">{{course.price}}</p>

        </div>
    </div>
  </div>
</div>

<!-- tabs -->
<div class="row blank">

  <ngb-tabset [justify]="currentJustify">

    <ngb-tab title="Overview">
      <ng-template ngbTabContent>
        <p>{{course.overview}}</p>
      </ng-template>
    </ngb-tab>

    <ngb-tab title="Topics">

      <ng-template ngbTabContent>
        <p>
          {{course.topics}}
        </p>
      </ng-template>
    </ngb-tab>

    <ngb-tab title="Start Date">
      <ng-template ngbTabContent>
        <p>

        {{course.startdate}}

        </p>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Requirements">
      <ng-template ngbTabContent>
        <p>

        {{course.requirements}}

        </p>
      </ng-template>
    </ngb-tab>

    <ngb-tab title="Educator">
      <ng-template ngbTabContent>
        <p>

        {{course.educator}}

        </p>
      </ng-template>
    </ngb-tab>

    <ngb-tab title="Try it">
      <ng-template ngbTabContent>
        <p>

        {{course.tryit}}

        </p>
      </ng-template>
    </ngb-tab>

    <ngb-tab title="MoreCourses">
      <ng-template ngbTabContent>
        <p>

        {{course.morecourses}}

        </p>
      </ng-template>
    </ngb-tab>

  </ngb-tabset>

</div>


</div>
