<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper" [ngClass]="
    {
        'defaultdark': color == 'defaultdark',
        'mini-sidebar': showMinisidebar
    }
">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <header class="topbar">
        <nav class="d-flex top-navbar navbar-expand-md navbar-light">
            <!-- ============================================================== -->
            <!-- Logo -->
            <!-- ============================================================== -->
            <div class="navbar-header" style="background-color: white !important; opacity: 0.92 !important; padding: 0; padding-left: 2em;">
                <a class="navbar-brand" href="index.html">

                   <img src="assets/images/logo-text.jpeg" alt="homepage"style="max-height: 5em; " class="custom-logo-link">Life Changing Practical Skill Based Learning Platform

                   <a class="enroll" target="_blank" rel="noopener"   href="https://pages.razorpay.com/careershala-careernaksha">Enroll Now</a>

                     <!--<button href="https://pages.razorpay.com/careershala-careernaksha" class="profile-button">Enroll Now</button>-->
                    </a>

            </div>


            <!-- ============================================================== -->
            <!-- End Logo -->
            <!-- ============================================================== -->

            <!-- <div class="navbar-collapse">
                <app-navigation class="w-100" (toggleSidebar)="toggleSidebar()"></app-navigation>
            </div> -->
        </nav>
    </header>

    <div class="row main-banner" style="margin-right:0px;">
        <div class="content-div">
          <p class="content-para">Micro Live Online Courses For Students
              <br><span class="content-span">Make yourself future ready, enrich your capabilities, enhance creativity and develop your mind today!<br></span>

            </p>
        </div>
      </div>
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- <aside class="left-sidebar">

        <div class="scroll-sidebar" [perfectScrollbar]="config">
            <app-sidebar></app-sidebar>
        </div>

    </aside> -->
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <!-- <div class="page-wrapper">
        <div class="container-fluid">
            <app-breadcrumb></app-breadcrumb>
            <router-outlet></router-outlet>

        </div>
    </div> -->

    <div class="container-fluid">
      <app-breadcrumb></app-breadcrumb>
      <router-outlet></router-outlet>

  </div>


    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <div class="row" style="margin-top:25px;">
        <div class="col-md-12" style="border-top:1px rgb(196, 196, 196) solid;padding-top:25px;" align="center">
          <ul>
            <a style="color:rgb(0, 0, 0); font-weight: 500;" >Do you have a question to ask? Call or whatsapp with our support at +91-84691-49288</a><br>

             <a style="color:rgb(0, 0, 0); font-weight: 500;">@Copyright 2020 CareerShala</a> |
             <a style="color:rgb(0, 0, 0); font-weight: 500;" href="/privacy-policy">Privacy Policy </a>|
             <a style="color:rgb(0, 0, 0); font-weight: 500;" href="/refund & guidelines">Refund & Guidelines</a>

           </ul>
        </div>
      </div>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->

</div>
